extends layout
block content
 h1= title
 - let items = results;
 - let destination = `dispatch("/house/create")`
   button.btn( class="btn-primary ml-1", onclick= destination) Create House
   each item in items
    - let destination1 = `dispatch("/house/update?id=${item._id}")`
    - let destination2 = `dispatch("/house/detail?id=${item._id}")`
    - let destination3 = `dispatch("/house/delete?id=${item._id}")`
      div
       p houseName  - #{item.houseName}
       p price  - #{item.price}
       p description - #{item.description}
       button.btn( class="btn-primary ml-1", onclick= destination1) Update
       button.btn( class="btn-primary ml-1", onclick= destination2) Detail 
       button.btn( class="btn-primary ml-1", onclick= destination3) Delete
       br
       br
 script.
  function dispatch(path){
   window.location.href=path
  }