
extends layout
block content
  h1= title
  p Welcome to the #{title} page.
  br
  br
  -
    let results = [
      { houseName: "villa", price: 101.99, description: "5 bed rooms" },
      { houseName: "apartments", price: 190.99, description: "4 bed rooms" },
      { houseName: "Group house", price: 250.49, description: "3 bed rooms" }
    ]
  div.container-fluid
    div.row
      each item, index in results
        div.col-sm-2(onclick=`buy(${index})`)
          h4 house : #{item.houseName}
          p Price: $#{item.price}
          p Description: #{item.description}
  
  script.
    function buy(index) {
      alert(`You purchased item ${index+1}.`);
    }          
